PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/recipeiq

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com

GROQ_API_KEY=your-groq-api-key

UNSPLASH_ACCESS_KEY=your-unsplash-access-key

ADMIN_UID=your-firebase-admin-uid

FRONTEND_URL=http://localhost:5173
